<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cars Mobile App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body ng-app="angularJqmMixerApp">
<!-- Directives can inherit CarCtrl scope if need be -->
<div ng-controller="CarCtrl">
  <!-- Home: Initial page must be in index.html for proper display -->
  <div data-role="page" id="cars">
    <div data-theme="a" data-role="header" data-position="fixed">
      <h3>Cars</h3>
      <a href="#add-car" data-role="button" data-icon="edit" class="ui-btn-right">Add Car</a>
    </div>
    <div data-role="content">
      <ul data-role="listview" data-divider-theme="c" data-inset="true"
          data-filter="true" data-filter-placeholder="Search cars...">
        <li data-theme="c" ng-repeat="car in cars">
          <a href="#car-details" data-transition="slide" ng-click="selectCar(car)">
            <img ng-src="{{ car.img }}" class="ul-li-thumb">

            <h3 class="ul-li-heading">{{ car.manufacturer }}</h3>

            <p class="ul-li-desc"><strong>{{ car.model }}</strong></p>

            <p class="ul-li-desc">{{ car.price | currency }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <car-details car="selectedCar"></car-details>
  <add-car></add-car>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="scripts/app.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="scripts/services/cars.js"></script>
<script src="scripts/controllers/car.js"></script>
<script src="scripts/directives/car_details.js"></script>
<script src="scripts/directives/add_car.js"></script>
</body>
</html>
